In [18]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import joblib
from pathlib import Path

In [19]:
# Import the sales_2022.csv and sales_2023.csv datasets into a Pandas Dataframes
sales_2022_df = pd.read_csv(Path("./Resources/sales_2022.csv"))
sales_2023_df = pd.read_csv(Path("./Resources/sales_2023.csv"))

# Review the DataFrames
display(sales_2022_df.head())
display(sales_2023_df.head())

,Order ID,Sale ID,Date,Order,Transaction type,Sale type,Sales channel,POS location,Billing country,Billing region,...,Variant,Variant SKU,Net quantity,Gross sales,Discounts,Returns,Net sales,Shipping,Taxes,Total sales
0,4268286509232,13662230118576,2022-01-02T10:05:24-05:00,#1925,product,order,Online Store,NaN,Canada,Ontario,...,S,NaN,1,182.99,0.0,0.00,182.99,0.00,23.79,206.78
1,4166819152048,13668074062000,2022-01-03T20:32:15-05:00,#1826,product,return,Online Store,NaN,United States,Michigan,...,M2,NaN,-1,0.00,0.0,-205.99,-205.99,0.00,0.00,-205.99
2,4270197768368,13668082712752,2022-01-03T20:35:00-05:00,#1926,product,order,Online Store,NaN,Canada,Ontario,...,L,NaN,1,69.99,0.0,0.00,69.99,0.00,9.10,79.09
3,4271390294192,13671866990768,2022-01-04T18:34:13-05:00,#1927,shipping,order,Online Store,NaN,Canada,Ontario,...,NaN,NaN,0,0.00,0.0,0.00,0.00,5.99,0.78,6.77
4,4271390294192,13671866958000,2022-01-04T18:34:13-05:00,#1927,product,order,Online Store,NaN,Canada,Ontario,...,L,NaN,1,41.24,0.0,0.00,41.24,0.00,5.36,46.60

,Order ID,Sale ID,Date,Order,Transaction type,Sale type,Sales channel,POS location,Billing country,Billing region,...,Variant,Variant SKU,Net quantity,Gross sales,Discounts,Returns,Net sales,Shipping,Taxes,Total sales
0,4826201718960,15517473046704,2023-01-01T14:28:21-05:00,#2641,shipping,order,Online Store,NaN,Canada,Quebec,...,NaN,NaN,0,0.00,0.0,0.00,0.00,5.99,0.30,6.29
1,4826201718960,15517473013936,2023-01-01T14:28:21-05:00,#2641,product,order,Online Store,NaN,Canada,Quebec,...,2-XS,NaN,1,44.75,0.0,0.00,44.75,0.00,2.24,46.99
2,4826371948720,15518001397936,2023-01-01T17:20:55-05:00,#2642,product,order,Online Store,NaN,Canada,Manitoba,...,2-S,NaN,2,93.50,0.0,0.00,93.50,0.00,4.68,98.18
3,4739157721264,15518252040368,2023-01-01T18:55:44-05:00,#2432,product,return,Online Store,NaN,Canada,Ontario,...,2-L,NaN,-2,0.00,0.0,-87.98,-87.98,0.00,-11.44,-99.42
4,4827172208816,15520479871152,2023-01-02T11:00:26-05:00,#2643,product,order,Online Store,NaN,Canada,Quebec,...,2-XS,NaN,1,44.75,0.0,0.00,44.75,0.00,2.24,46.99

In [20]:
# Drop the 'POS location' column from each dataframe
sales_2022_df = sales_2022_df.drop(['POS location', 'Order ID', 'Sale ID'],axis=1)
sales_2023_df = sales_2023_df.drop(['POS location', 'Order ID', 'Sale ID'],axis=1)

# Transform the 'Date' columns to a datetime data type
sales_2022_df["Date"] = pd.to_datetime(sales_2022_df["Date"], infer_datetime_format = True, utc = True)
sales_2023_df["Date"] = pd.to_datetime(sales_2023_df["Date"], infer_datetime_format = True, utc = True)

# Review the DataFrames
display(sales_2022_df.head())
display(sales_2023_df.head())

,Date,Order,Transaction type,Sale type,Sales channel,Billing country,Billing region,Billing city,Shipping country,Shipping region,...,Variant,Variant SKU,Net quantity,Gross sales,Discounts,Returns,Net sales,Shipping,Taxes,Total sales
0,2022-01-02 15:05:24+00:00,#1925,product,order,Online Store,Canada,Ontario,Perth,Canada,Ontario,...,S,NaN,1,182.99,0.0,0.00,182.99,0.00,23.79,206.78
1,2022-01-04 01:32:15+00:00,#1826,product,return,Online Store,United States,Michigan,Spring Lake,United States,Michigan,...,M2,NaN,-1,0.00,0.0,-205.99,-205.99,0.00,0.00,-205.99
2,2022-01-04 01:35:00+00:00,#1926,product,order,Online Store,Canada,Ontario,Toronto,Canada,Ontario,...,L,NaN,1,69.99,0.0,0.00,69.99,0.00,9.10,79.09
3,2022-01-04 23:34:13+00:00,#1927,shipping,order,Online Store,Canada,Ontario,Oshawa,Canada,Ontario,...,NaN,NaN,0,0.00,0.0,0.00,0.00,5.99,0.78,6.77
4,2022-01-04 23:34:13+00:00,#1927,product,order,Online Store,Canada,Ontario,Oshawa,Canada,Ontario,...,L,NaN,1,41.24,0.0,0.00,41.24,0.00,5.36,46.60

,Date,Order,Transaction type,Sale type,Sales channel,Billing country,Billing region,Billing city,Shipping country,Shipping region,...,Variant,Variant SKU,Net quantity,Gross sales,Discounts,Returns,Net sales,Shipping,Taxes,Total sales
0,2023-01-01 19:28:21+00:00,#2641,shipping,order,Online Store,Canada,Quebec,Blainville,Canada,Quebec,...,NaN,NaN,0,0.00,0.0,0.00,0.00,5.99,0.30,6.29
1,2023-01-01 19:28:21+00:00,#2641,product,order,Online Store,Canada,Quebec,Blainville,Canada,Quebec,...,2-XS,NaN,1,44.75,0.0,0.00,44.75,0.00,2.24,46.99
2,2023-01-01 22:20:55+00:00,#2642,product,order,Online Store,Canada,Manitoba,Winnipeg,Canada,Manitoba,...,2-S,NaN,2,93.50,0.0,0.00,93.50,0.00,4.68,98.18
3,2023-01-01 23:55:44+00:00,#2432,product,return,Online Store,Canada,Ontario,Ottawa,Canada,Ontario,...,2-L,NaN,-2,0.00,0.0,-87.98,-87.98,0.00,-11.44,-99.42
4,2023-01-02 16:00:26+00:00,#2643,product,order,Online Store,Canada,Quebec,Quebec,Canada,Quebec,...,2-XS,NaN,1,44.75,0.0,0.00,44.75,0.00,2.24,46.99